<header class="container">
	<nav class="navbar navbar-expand d-flex navbar-light">
		<ul class="navbar-nav justify-content-start">
			<a href="{{ path('welcome') }}" class="navbar-brand justify-content-center">
				<h1 class="nav-title">My CV</h1>
			</a>
		</ul>
		<ul class="navbar-nav justify-content-end">
			<li class="nav-item p-1">
				<a href="{{ path('welcome') }}" class="nav-link">Accueil</a>
			</li>
			<li class="nav-item p-1">
				<a href="{{ path('user') }}" class="nav-link">Votre espace</a>
			</li>
			<li class="nav-item p-1">
				<a href="{{ path('app_login') }}" class="nav-link">Connectez-vous</a>
			</li>
		</ul>
	</nav>
</header>
