{% extends 'base.html.twig' %}
{% block title %}My CV
{% endblock %}
{% block header %}
	<h1>Créer votre compte</h1>
{% endblock %}
{% block body %}
	{{form(form_user)}}{% endblock %}
	{% block footer %}{% endblock %}
