{% extends 'base.html.twig' %}

{% block title %}Hello IdentityController!
{% endblock %}

{% block body %}
	{% if form_identity is defined %}
		<section>
			{{form(form_identity)}}
			</section>
		{% elseif form_cv is defined %}
			<section>
				{{form(form_cv)}}
				</section>
			{% endif %}
		{% endblock %}
