{% extends 'base.html.twig' %}

{% block title %}Espace utilisateur
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/toggle_right_menu.js') }}" defer></script>
{% endblock %}

{% block header %}
	{% include "./partials/header.html.twig" %}
{% endblock %}

{% block body %}
	<div class="row">
		<section class="col border-end border-success">
			<h2>Vos CV :</h2>
			{% if cvs %}
				<h3 class="h4">Sélectionner le CV :</h3>
				<ul class="list-group list-group-flush">
					{% for cv in cvs %}
						<li class="list-group-item">
							<a href="{{path('user_cv', {id: cv.id }) }}">
								{{ cv.title|raw }}
							</a>
						</li>
					{% endfor %}
				</ul>
			{% else %}
				<card>
					<p>Vous n'avez pas encore créé de CV.</p>
				</card>
			{% endif %}
		</section>

		<section class="col">
			{% include "./partials/identity.html.twig" %}
		</section>
	</div>
{% endblock %}
{% block footer %}
	{% include "./partials/footer.html.twig" %}
{% endblock %}
